<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewAllReservationsController</servlet-name>
        <servlet-class>controller.ViewAllReservationsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceController</servlet-name>
        <servlet-class>controller.ServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>controller.ServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAccountController</servlet-name>
        <servlet-class>controller.GetAllAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagementController</servlet-name>
        <servlet-class>controller.ServiceManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceManagementDetailController</servlet-name>
        <servlet-class>controller.ServiceManagementDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyReservationController</servlet-name>
        <servlet-class>controller.ViewMyReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyReservationDetail</servlet-name>
        <servlet-class>controller.ViewMyReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExaminationHistoryController</servlet-name>
        <servlet-class>controller.ViewExaminationHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExaminationHistoryDetailController</servlet-name>
        <servlet-class>controller.ViewExaminationHistoryDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewExaminationController</servlet-name>
        <servlet-class>controller.AddNewExaminationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceController</servlet-name>
        <url-pattern>/ServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/ServiceDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAccountController</servlet-name>
        <url-pattern>/GetAllAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagementController</servlet-name>
        <url-pattern>/ServiceManagementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceManagementDetailController</servlet-name>
        <url-pattern>/ServiceManagementDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyReservationController</servlet-name>
        <url-pattern>/viewMyReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReservationsController</servlet-name>
        <url-pattern>/viewAllReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyReservationDetail</servlet-name>
        <url-pattern>/viewMyReservationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExaminationHistoryController</servlet-name>
        <url-pattern>/viewExaminationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExaminationHistoryDetailController</servlet-name>
        <url-pattern>/viewExaminationHistoryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewExaminationController</servlet-name>
        <url-pattern>/addNewExamination</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <env-entry>
        <env-entry-name>host</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>port</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>1433</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>database-name</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>CMS</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>sa</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>123</env-entry-value>
    </env-entry>
    <welcome-file-list>
        <welcome-file>LoginController</welcome-file>
    </welcome-file-list>
</web-app>
